<div class="d">
<div id="carouselExampleCaptions" class=" dc dl" >
   
    <div class="carousel-inner dc">
      <div class="carousel-item active dc">
        <img src="https://hungerstation.com/website-assets/6f56eaacfe1ffa333b1aa5e6cfbf3bb7.webp" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5 class="dc">First slide label</h5>
          <button class="btn btn-warning b" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3">Order Now</button>
        </div>
      </div>
    
    
    </div>
    
  </div>

</div>



<!-- <div class="ss"></div> -->