.tt{

    margin-left: 120px;
    margin-top:  50px ;
    height: 500px;
    background-color: rgb(255, 255, 255);
    width: 220px;
    /* float: left; */
}

.b{
    
    margin-top: 2px;
    width: 200px;
    height: 35px;
    text-align: start;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);


}

.dd{

    width: 200px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    /* padding-left: 200px; */
    margin-left: 350px;
}

.ss{

    /* display: flex;
    flex-direction: column; */
    float: left;

}






















