<div class="container">
    <img class="ii" src="https://hsaa.hsobjects.com/h/restaurants/android_cover_photos/000/025/216/682f7448da28d31f2d7f348fd2daccd3-large.jpg" alt="Norway" style="width:100%;">
    
    <div class="text-block">
    
  <div class="bbox text-block">
  
    <img class="imgb" [src]="imgurl" alt="">
  <div class="sd"> 
    
    <div class="indiv">
      <h4 class="hed">{{Reste[0].name}}</h4>
      <p class="subt" >{{Reste[0].subtitl}}</p>
  
          
      <div class="flex-container">
        <div class="dd">🕸
  
          <p class="subtt" >Min.Order</p>
  
        </div>
        <div class="dd">📷
          <p class="subtt" >Delivery Time</p>
        </div>
        <div class="dd">⛈
          <p class="subtt"> Fast delivery</p>
        </div>
      </div>
  </div>
  
      </div>
    
  
      <div class="ss">
  
  <div class="starr" > {{Reste[0]['rate']}}⭐</div>
  
  <!-- [textContent]="Reste[0]['name']" -->
      </div>
  
  </div>
  
  
  
    
  
  
  </div>
  
  
  </div>